<template>
    <v-app>
        <v-navigation-drawer
                v-model="drawer"
                app>
            <div>
                <v-toolbar style="padding-left: 8px;padding-right: 8px">
                    <v-row style="cursor: pointer" @click="toHome">
                        <v-img
                                :src="require('../assets/pear.png')"
                                max-width="40"
                                max-height="40"
                                style="margin-top: 8px"
                        ></v-img>
                        <span style="line-height: 56px;margin-left: 16px;font-size: 1.25rem;">梨笔记</span>
                    </v-row>

                </v-toolbar>
                <v-treeview
                        open-all
                        activatable
                        color="blue"
                        :items="bookTree"
                >
                    <template v-slot:label="{item, open, selected}">
                        <p class="treeItem" @contextmenu="show($event,item)" @click="loadDocContent(item)">
                            {{item.name}}</p>
                    </template>
                </v-treeview>
                <v-menu
                        class="treeContextMenu"
                        v-model="showMenu"
                        :position-x="x"
                        :position-y="y"
                        absolute
                        offset-y
                >
                    <v-list>
                        <v-list-item-group color="primary">
                            <v-list-item
                                    v-for="(item, i) in menuItems"
                                    :key="i"
                            >
                                <v-list-item-content @click="handleContextMenu(item)">
                                    <v-list-item-title v-html="item.name"
                                    ></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-menu>

            </div>
        </v-navigation-drawer>

        <v-content align-center
        >
            <div style="width: 100%;">
                <v-row>
                    <v-toolbar style="padding-left: 8px;padding-right: 8px">
                        <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>
                        <v-toolbar-title>{{currentTreeNode.name}}</v-toolbar-title>

                        <v-spacer></v-spacer>

                        <v-btn icon @click="changeMode">
                            <v-icon color="blue darken-2">mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn icon @click="delFormDialog = true">
                            <v-icon color="blue darken-2">mdi-delete-circle</v-icon>
                        </v-btn>
                    </v-toolbar>
                </v-row>
                <mavon-editor ref='md' v-model="docContent" :subfield="false" :defaultOpen="mode"
                              :toolbars="markdownOption"
                              :toolbarsFlag="mode==='edit'"
                              style="z-index: 10;margin-top: 4px;height: calc(100vh - 70px)" @save="saveDocument"
                              @change="onContentChange" @imgAdd="saveImage" @imgDel="deleteImage"/>
            </div>
        </v-content>

        <v-dialog
                v-model="bookFormDialog"
                width="300px"
        >
            <v-card>
                <v-card-title class="grey">
                    创建项目
                </v-card-title>
                <v-container>
                    <v-form ref="bookForm" lazy-validation>
                        <v-text-field
                                label="名称"
                                v-model="bookForm.name"
                                :rules="nameRules"
                                type="text"
                        ></v-text-field>
                    </v-form>
                </v-container>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            text
                            color="primary"
                            @click="bookFormDialog = false"
                    >取消
                    </v-btn>
                    <v-btn
                            text
                            @click="bookSubmit"
                    >保存
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>


        <v-dialog
                v-model="delFormDialog"
                max-width="290"
        >
            <v-card>
                <v-card-title class="headline">提示?</v-card-title>

                <v-card-text>
                    确定删除？
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                            color="green darken-1"
                            text
                            @click="delFormDialog = false"
                    >
                        取消
                    </v-btn>

                    <v-btn
                            color="green darken-1"
                            text
                            @click="deleteDoc"
                    >
                        确定
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar
                :timeout="2000"
                :top="true"
                color="#1E90FF"
                v-model="msg.show"
        >
            {{ msg.text }}
        </v-snackbar>
    </v-app>
</template>

<script>
    import {deleteDocNodes, getDocContent, getDocNodes, putDocContent, putDocNodes} from "../service/docservice";
    import {saveImage} from "../service/imageService";

    export default {
        data: () => ({
            drawer: true,
            docContent: '',
            bookTree: [],
            currentTreeNode: {},

            bookFormDialog: false,
            bookForm: {
                pid: 0,
                category: 1,
                name: '',
            },
            nameRules: [
                v => !!v || '名称不能为空'
            ],

            delFormDialog: false,

            showMenu: false,
            x: 0,
            y: 0,
            menuItems: [{
                key: "add",
                name: "新增文档"
            }, {
                key: "edit",
                name: "编辑"
            }, {
                key: "del",
                name: '删除文档'
            }],

            msg: {
                show: false,
                text: ''
            },
            markdownOption: {
                fontSize: "18px",
                bold: true, // 粗体
                italic: true, // 斜体
                header: true, // 标题
                underline: true, // 下划线
                strikethrough: true, // 中划线
                mark: true, // 标记
                superscript: true, // 上角标
                subscript: true, // 下角标
                quote: true, // 引用
                ol: true, // 有序列表
                ul: true, // 无序列表
                link: true, // 链接
                imagelink: true, // 图片链接
                code: true, // code
                table: true, // 表格
                fullscreen: true, // 全屏编辑
                readmodel: true, // 沉浸式阅读
                help: true, // 帮助
                /* 1.3.5 */
                undo: true, // 上一步
                redo: true, // 下一步
                trash: true, // 清空
                save: true, // 保存（触发events中的save事件）
                /* 1.4.2 */
                navigation: true, // 导航目录
                /* 2.1.8 */
                alignleft: true, // 左对齐
                aligncenter: true, // 居中
                alignright: true, // 右对齐
                /* 2.2.1 */
                subfield: true, // 单双栏模式
                preview: true, // 预览
            },
            mode: 'preview',
            lastSaveTime: 0,
        }),
        methods: {

            handleContextMenu(item) {
                this.showMenu = false;
                switch (item.key) {
                    case "add":
                        this.bookFormDialog = true;
                        break;
                    case "edit":
                        this.bookFormDialog = true
                        break;
                    case "del":
                        this.delFormDialog = true;
                        break;
                }
            },
            show(e, item) {
                this.currentTreeNode = item;
                e.preventDefault();
                this.showMenu = false;
                this.x = e.clientX;
                this.y = e.clientY;
                this.$nextTick(() => {
                    this.showMenu = true;
                });
            },
            changeMode() {
                if (this.mode === 'edit') {
                    this.mode = 'preview';
                } else if (this.mode === 'preview') {
                    this.mode = 'edit';

                }
            },
            bookSubmit() {
                this.bookForm.pid = parseInt(this.currentTreeNode.id);
                if (this.$refs.bookForm.validate()) {
                    putDocNodes(this.bookForm).then(data => {
                        this.loadBookTree();
                        this.bookFormDialog = false;
                        this.bookForm.name = ''
                    });
                }
            },

            loadBookTree() {
                this.bookTree = [
                    {
                        pid: 0,
                        id: this.$route.query.id,
                        name: this.$route.query.name,
                        children: []
                    }
                ];
                let params = {
                    category: 1,
                    pid: this.$route.query.id,
                };
                getDocNodes(params).then(data => {
                    if (data) {
                        this.bookTree[0].children = data;

                    }
                })
            },
            loadDocContent(item) {
                this.currentTreeNode = item;
                this.mode = 'preview';
                getDocContent(item.id).then(data => {
                    if (data) {
                        this.docContent = data.content;
                    } else {
                        this.docContent = '';
                    }

                })
            },
            saveDocument(content) {
                let params = {
                    id: this.currentTreeNode.id,
                    content: content
                };
                putDocContent(params).then(data => {
                    this.lastSaveTime = new Date().getTime();
                })
            },
            onContentChange(value) {
                let now = new Date().getTime();
                if (now - this.lastSaveTime > 1000) {
                    this.saveDocument(value);
                }
            },
            deleteDoc() {
                if (this.currentTreeNode.pid !== 0) {
                    deleteDocNodes(this.currentTreeNode.id).then(data => {
                        this.delFormDialog = false;
                        this.msg.show = true;
                        this.msg.text = "删除成功";
                        this.loadBookTree();
                    })

                }

            },
            saveImage(pos, file) {
                // 第一步.将图片上传到服务器.
                var formdata = new FormData();
                formdata.append('file', file);
                formdata.append('pid', this.currentTreeNode.id);
                saveImage(formdata).then((url) => {
                    // 第二步.将返回的url替换到文本原位置![...](0) -> ![...](url)
                    /**
                     * $vm 指为mavonEditor实例，可以通过如下两种方式获取
                     * 1. 通过引入对象获取: `import {mavonEditor} from ...` 等方式引入后，`$vm`为`mavonEditor`
                     * 2. 通过$refs获取: html声明ref : `<mavon-editor ref=md ></mavon-editor>，`$vm`为 `this.$refs.md`
                     */
                    this.$refs.md.$img2Url(pos, url);
                    this.saveDocument(this.docContent)
                })
            },
            deleteImage(filename) {
                console.log("del:" + filename)
            },
            toHome() {
                this.$router.push({
                    name: 'book'
                })
            }
        },
        mounted() {
            this.loadBookTree()
        }
    }
</script>

<style>
    .markdown-body {
        height: 100%;
    }

    .treeItem {
        cursor: pointer;
        line-height: 36px;
    }

    .v-treeview-node__root {
        min-height: 32px !important;
    }

    .v-menu__content {
        z-index: 9999 !important;
    }
</style>
