<template>
    <section>
        <v-layout style="width: 1200px;margin: 0 auto">
            <v-layout wrap>

                <template v-for="bookItem in books">
                    <v-card
                            style="margin:8px;cursor: pointer"
                            :elevation="30"
                            :raised="true"
                            @click="bookItemClick(bookItem)"
                            :width="180"
                            :height="240">
                        <v-img
                                class="white--text"
                                height="240px"
                                src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
                            <v-card-title class="align-end fill-height">{{bookItem.name}}</v-card-title>
                        </v-img>
                    </v-card>
                </template>

            </v-layout>
        </v-layout>
        <v-btn
                bottom
                color="pink"
                dark
                fab
                fixed
                right
                @click="bookFormDialog = !bookFormDialog"
        >
            <v-icon>mdi-plus</v-icon>
        </v-btn>
        <v-dialog
                v-model="bookFormDialog"
                width="300px"
        >
            <v-card>
                <v-card-title class="grey">
                    创建项目
                </v-card-title>
                <v-container>
                    <v-form ref="bookForm" lazy-validation>
                        <v-text-field
                                label="名称"
                                v-model="bookForm.name"
                                :rules="nameRules"
                                type="text"
                        ></v-text-field>
                    </v-form>
                </v-container>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            text
                            color="primary"
                            @click="bookFormDialog = false"
                    >取消
                    </v-btn>
                    <v-btn
                            text
                            @click="bookSubmit"
                    >保存
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </section>
</template>

<script>
    import {getDocNodes, putDocNodes} from "../service/docservice";

    export default {
        name: "Book",
        data: () => ({
            books: [],
            bookFormDialog: false,
            bookForm: {
                pid: 0,
                category: 1,
                name: '',
            },
            nameRules: [
                v => !!v || '名称不能为空'
            ],
        }),
        methods: {
            loadBooks() {
                let params = {
                    category: 1,
                    pid: 0,
                };
                getDocNodes(params).then(data => {
                    this.books = data;
                });
            },
            bookSubmit() {
                if (this.$refs.bookForm.validate()) {
                    putDocNodes(this.bookForm).then(data => {
                        this.loadBooks();
                        this.bookForm.name = '';
                        this.bookFormDialog = false
                    });
                }
            },
            bookItemClick(book) {
                this.$router.push(
                    {
                        name: "book-content",
                        query: {
                            id: book.id,
                            name: book.name
                        }
                    }
                )
            }
        },
        mounted() {
            this.loadBooks()
        }
    }
</script>

<style scoped>

</style>
