<template>
    <v-app id="inspire">
        <v-navigation-drawer
                v-model="drawer"
                app>
        </v-navigation-drawer>
        <v-app-bar
                app
                color="blue darken-3"
                dark>
            <v-toolbar-title
                    style="width: 300px"
                    class="ml-0 pl-4">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <span class="hidden-sm-and-down">梨笔记</span>
            </v-toolbar-title>
            <v-text-field
                    flat
                    solo-inverted
                    hide-details
                    label="Search"
                    class="hidden-sm-and-down"
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn icon @click="jump('todo')">
                <v-icon>event</v-icon>
            </v-btn>
            <v-btn icon>
                <v-icon>mdi-bell</v-icon>
            </v-btn>
        </v-app-bar>
        <v-content align-center
        >
            <router-view/>
        </v-content>

    </v-app>
</template>

<script>
    export default {
        props: {
            source: String,
        },
        data: () => ({
            drawer: false,
        }),
        methods: {
            jump(target) {
                this.$router.push({
                    name: target
                })
            }
        }
    }
</script>
