<template>
    <v-app id="inspire">
        <v-content>
            <v-container
                    class="fill-height"
                    fluid>
                <v-row
                        align="center"
                        justify="center">
                    <v-col
                            cols="12"
                            sm="8"
                            md="4">
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat>
                                <v-toolbar-title>注册</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form ref="loginForm" lazy-validation>
                                    <v-text-field
                                            label="用户名"
                                            v-model="loginForm.username"
                                            :rules="usernameRules"
                                            type="text"
                                    ></v-text-field>

                                    <v-text-field
                                            id="password"
                                            label="密码"
                                            v-model="loginForm.password"
                                            :rules="passwordRules"
                                            type="password"
                                    ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <div class="flex-grow-1"></div>
                                <v-btn color="primary" @click="loginSubmit" style="width: 100px">注册</v-btn>
                                <div class="flex-grow-1"></div>
                            </v-card-actions>
                            <div style="text-align: center;padding-bottom: 8px">
                                <span>已有账号？现在去&nbsp;<span style="color: #0d47a1;cursor: pointer" @click="toLogin">登录</span></span>
                            </div>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import {reg} from '../service/userservice'

    export default {

        data: () => ({
            loginForm: {
                type: 2,
                username: '',
                password: ''
            },
            usernameRules: [
                v => !!v || '用户名不能为空'
            ],
            passwordRules: [
                v => !!v || '密码不能为空',
                v => (v && v.length <= 6) || '密码长度不能小于6个字符',
            ]
        }),
        methods: {
            toLogin() {
                this.$router.push({
                    name: 'login'
                })
            },
            loginSubmit() {
                if (this.$refs.loginForm.validate()) {
                    reg(this.loginForm).then(res => {
                        if (res) {
                            this.$router.push({
                                name: 'login'
                            })
                        }
                    })
                }
            },
        },
    }
</script>
