<template>
  <v-app>
    <router-view/>
  </v-app>

</template>

<script>
    export default {
        name: "App",
        components: {},
        data: () => ({
            //
        })
    };
</script>
<style lang="less">
  .v-application p {
    margin-bottom: 0 !important;
  }
  /*控制整个滚动条*/
  ::-webkit-scrollbar {
    background-color: lightgray;
    width: 3px;
    height: 5px;
    background-clip: padding-box;
  }

  /*滚动条两端方向按钮*/
  ::-webkit-scrollbar-button {
    display: none;
  }

  /*滚动条中间滑动部分*/
  ::-webkit-scrollbar-thumb {
    background-color: #42b983;
    border-radius: 5px;
    height: 5px;
  }

  /*滚动条右下角区域*/
  ::-webkit-scrollbar-corner {
    display: none;
  }


</style>
